<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="target1" layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}" fileName="C:/Logs/IEWLog/Restful/${date:format=yyyyMMdd}/${level}/${date:format=HH}.log" archiveFileName="C:/Logs/IEWLog/Restful/${date:format=yyyyMMdd}/${level}/${date:format=HH}.{#####}.log" archiveAboveSize="20971520" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
    <target xsi:type="Console" name="target2" layout="${date}|${level:uppercase=true}|${message} ${exception}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="target1" />
  </rules>
</nlog>
